<head>
<meta charset="UTF-8">
   <title>EJS is Fun</title>


   <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="//cdn.datatables.net/2.3.8/css/dataTables.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/2.3.8/css/dataTables.bootstrap5.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/2.3.8/css/dataTables.bootstrap5.css">


   <style>
        body {
            padding-top: 25px;
        }

        .navbar select {
            background-color: #067df3;
            color: #fff;
            border: 1px solid #555;
            border-radius: 0.25rem;
            padding: 0.25rem 0.5rem;
            cursor: pointer;
        }

        .navbar select:hover {
            background-color: #3d444b;
        }

        .navbar select option {
            background-color: #343a40;
            color: #fff;
        }
   </style>
</head>